/BadMemoryMgmt/build/
/BadMemoryMgmt/dist/
/DoublePointers/build/
/DoublePointers/dist/
/SnippetTest/dist/
/SnippetTest/build/
/Collatz/build/
/Collatz/dist/
/Cylinder Volumes/build/
/Cylinder Volumes/dist/
/Decryption/build/
/Decryption/dist/